.DS_Store
*-key.json
*-sa-key.json
airflow-sa-key.json
service-account*.json
*.pem

*.tfstate
*.tfstate.*
*.tfstate.backup

.terraform/
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

.build/
*.zip

